[submodule "third-party/lsm6dsrx-pid"]
	path = third-party/lsm6dsrx-pid
	url = git@github.com:STMicroelectronics/lsm6dsrx-pid
[submodule "src/third-party/lsm6dsrx-pid"]
	path = src/third-party/lsm6dsrx-pid
	url = git@github.com:STMicroelectronics/lsm6dsrx-pid
